

body {
 height: 3000px;
 margin: 0px;   
}

p {
font-family: cursive, Arial, Helvetica, sans-serif;
}

a {
 list-style-type: none;  
 text-decoration: none; 
 color:white;
}

a:hover {
 color: red;   
}

#hero {
 background-color: wheat;  
 background-image: url("images/web.jpg"); 
 background-position: center;
 background-repeat: no-repeat;
 padding-bottom:300px;
 overflow: auto;
}

#navbar {
background-color: black;
}
    
#navbar ul {
margin: 0px;
padding: 20px;
}
    
#navbar li {
display: inline;
padding-right: 10px;
padding-left: 10px;  
    }


#list {
background-color: white;
padding: 10px;
}


 #list li {
display: inline;
padding: 5px;
color: black;
} 

#list li:hover {
color: blue;
}


#list2 {
display: inline-block;
width: 49%;
background-color: cornsilk;
padding: 10px;
box-sizing: border-box;
}

#list2 h2 {
display: flex;
justify-content: center;
padding-bottom: 5px;
}

#list25 {
display: inline-block;
width: 50%;
background-color: cornsilk;
padding: 10px;
box-sizing: border-box;
}

#list25 h2 {
display: flex;
justify-content: center;
padding-bottom: 5px;
}

#list3 {
display: inline-block;
width: 49%;
padding: 10px;
box-sizing: border-box;
}

#list3 caption {
padding-bottom: 50px;
}


#list3 .table {
margin: auto;
} 

#list3 tr:nth-child(even) {
background-color: gainsboro;
} 

#list35 {
display: inline-block;
width: 49%;
text-align: center;   
}


#list35 h4 {
display: flex;
justify-content: center;
padding: 10px;
}


#list4 {
background-color: cornsilk;
padding: 40px;
text-align: center;

}

#list4 h4 {
display: flex;
justify-content: center;
}

#bottom {
position: fixed;
width: 100%;
bottom: 18px;
background-color: black;
color: white;
padding:10px 10px 0px 10px;
}

#copy footer {
display: flex;
justify-content: center;
width: 100%;
position: fixed;  
bottom: 0px;
background-color: ghostwhite;
}

#bottom img {
float: right;
padding-bottom: 0px;
margin-left: 30%;
}

#social p {
float: right;
margin-top: 10px;
margin-right: 30%;
font-family: Arial, Helvetica, sans-serif;
}


@media (max-width: 840px) {
#list2 {width:100%;}
#list25 {width:100%;}
}

@media (max-width: 840px) {
#list3 {width:100%;}
#list35 {width:100%;}
    }